body{
    background-color: beige;
    font: normal 15pt Arial;
}
section{
    background-color: pink;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
    padding: 10px;
    width: 500px;
    margin: auto;
} 
footer{
    font-style: italic;
    text-align: center;
}
header{
    text-align: center;
} 
select{
    overflow: hidden;
}